{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="current" id="current" placeholder="Current Password" type="password"> <input type="checkbox" onclick="one()">Show
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Password" type="password"> <input type="checkbox" onclick="two()">Show
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id="confirmation" placeholder="Password Confirmation" type="password"> <input type="checkbox" onclick="three()">Show
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    <script>
        function one() {
          var x = document.getElementById("current");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        function two() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        function three() {
          var x = document.getElementById("confirmation");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
{% endblock %}